# ---> VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Laravel
/node_modules
/public/css
/public/fonts
/public/hot
/public/js
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.phpunit.result.cache
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Laravel Translation Manager
database/migrations/2014_04_02_193005_create_translations_table.php
