includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - resources
        - routes
        - tests
        - public/index.php

    # The level 8 is the highest level
    level: 7

    ignoreErrors:
        - '#Call to an undefined method Faker\\Generator::foodName\(\)#'
        - '#Call to an undefined method Faker\\Generator::randomDigit\(\)#'

    excludes_analyse:
        - routes/console.php
        - database/migrations/2014_04_02_193005_create_translations_table.php

    checkMissingIterableValueType: false
