includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - resources
        - routes
        - tests
        - public/index.php

    # The level 8 is the highest level
    level: 7

    excludePaths:
        - routes/console.php
        - database/migrations/2014_04_02_193005_create_translations_table.php

    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable\:\:\$(id|admin|author)+\.#'
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable\:\:(cookbooks|recipes|author|update|delete|can)\(\)\.#'

    checkMissingIterableValueType: false
