section.content.dashboard {
    @extend %flexbox-row;

    > article {
        margin: 10px;
        padding: 15px;

        &.manage {
            width: 100%;
            padding: 0;

            ul {
                display: flex;
                list-style-type: none;
                justify-content: flex-end;

                li {
                    margin: auto 10px;
                }
            }
        }

        li {
            list-style-position: inside;
            list-style-type: disclosure-closed;
        }

        > .profile {
            > .edit {
                display: block;
                margin-top: 10px;
            }
        }
    }


}
