section.content.overview {
    @extend %flexbox-row;
    margin: 0 auto;
    max-width: 1280px;

    > article {
        @extend %flexbox-row;
        @extend %border;
        @media (max-width: 330px) { padding: 5px }
        @media (max-width: 412px) {
            border-right: none;
            border-bottom: none;
            border-left: none;
            border-radius: 0;
        }

        flex-basis: 100%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        .manage {
            @media (max-width: 370px) { display: none; }

            @extend %flexbox-column;
            justify-content: start;
            height: 100%;
            padding: 0;
            margin-left: 10px;
        }
        
        .image, .info {
            display: inline-block;
        }

        .image {
            height: auto;
            width: 20vh;
            min-width: 100px;

            img {
                width: 100%;
            }
        }

        .info {
            flex-grow: 2;
            margin-top: 20px;
            margin-left: 20px;
            padding: 0 20px 10px 0;

            > strong {
                display: block;
                margin-bottom: 3px;
            }
        }

        .instructions {
            @media (max-width: 680px) {
                display: none;
            }
            margin-left: 20px;
        }
    }
}
