section.content.overview {
    a:focus {
        outline: none;
    }

    article header,
    article .instructions {
        color: black;
    }

    header {
        height: 100px;
        display: flex;

        > h3 {
            place-self: end;
            font-size: 1.4em;
            font-weight: bold;
            margin-left: 0;
        }
    }

    .image {
        display: flex; // Display flex to center image
        place-content: center;
        height: 170px;

        > div {
            place-self: center;

            > img {
                max-width: 100%;
                max-height: 170px;
                //margin-bottom: 20px;
            }
        }
    }

    footer {
        height: 70px;
        max-height: 70px;
        background-color: unset;
        color: black;
    }

    .w3-container.w3-col {
        margin-bottom: 20px;
        &.m6 {
            @media (min-width: 601px) {
                width: 44%;
                margin-left: 8px;
                margin-right: 8px;
            }
        }

        &.l3 {
            @media (min-width: 993px) {
                max-width: 330px;
                width: 23%;
                margin-left: 8px;
                margin-right: 8px;
            }
        }
    }

    .instructions,
    .rating {
        margin-top: 10px;
        height: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .rating {
        height: 150px;
    }
}
