section.content.recipe {
    @extend %flexbox-row;

    > * {
        padding: 15px;
    }

    > .manage {
        width: 100%;
        padding: 0;

        ul {
            display: flex;
            list-style-type: none;
            justify-content: flex-start;
            padding-left: 0;

            li {
                margin: auto 10px;
            }
        }
    }

    > .image {
        order: 1;

        img {
            width: auto;
            height: 20vh;
        }
    }

    > .info {
        order: 2;

        > table {
            tr {
                > th { text-align: right; }
                > td { text-align: left; }
            }
        }
    }

    > .ingredients {
        @extend %flexbox-row;
        order: 3;

        > * {
            flex-basis: 100%;
        }
    }

    > .instructions {
        order: 4;
    }

    > .ratings {
        order: 5;
        flex-basis: 100%;

        article {
            @extend %border;
            margin-bottom: 20px;
        }

        .manage {
            float: right;
            top: 0;
            display: flex;
        }
    }
}
