section.content.search-results {
    .image {
        // display: flex; // Display flex to center image
        // place-content: center;
        // height: 170px;

        > div {
            place-self: center;

            > img {
                max-width: 100%;
                max-height: 170px;
                //margin-bottom: 20px;
            }
        }
    }

    .instructions {
        color: black;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 165px;
    }
}
