@import 'layouts/variables';
@import 'layouts/grid';
@import 'layouts/nav';
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/inheritance';
@import 'layouts/icons';
@import 'layouts/form';
@import 'layouts/toast';
@import 'layouts/colors';

@import 'recipes';
@import 'overview';

html, body {
    font-family: sans-serif;
    margin: 0;
    margin-right: 1px;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1483df;
    
    &:hover {
        color: #404fd2;
    }
}

section.content {
    margin: 0 auto;
    padding: 0 5%;

    @media (max-width: 412px) {
        padding: 0;
    }
}
