@import "~bulma/bulma";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

#app {
    padding: 30px;
}

/* Markdown */
.hljs-right {
    text-align: end;
}

.hljs-center {
    text-align: center;
}

.hljs-left {
    text-align: start;
}
