// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Customize bulma variables
@import "variables";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

#app {
    padding: 30px;
}

/* Markdown */
.hljs-right {
    text-align: end;
}

.hljs-center {
    text-align: center;
}

.hljs-left {
    text-align: start;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: inherit;
}

i {
    &.fas.fa-arrows-alt {
        cursor: pointer;
    }

    &.fas.fa-trash {
        cursor: pointer;
    }
}

.dialog.modal.is-active {
    z-index: 9999;
}

.notices {
    .is-top,
    .is-bottom {
        z-index: 9999;
    }
}
