@charset "UTF-8";

nav.top {
  grid-area: nav-top;
}

header {
  grid-area: header;
}

section.content {
  grid-area: content;
}

nav.right {
  grid-area: nav-right;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-areas: "nav-top nav-top nav-top nav-top nav-top" "header  header  header  header  nav-right" "content content content content nav-right" "footer  footer  footer  footer  footer";
  grid-column-gap: 0;
  grid-template-columns: auto auto auto auto 20%;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-areas: "nav-top nav-top nav-top nav-top nav-top" "header  header  header  nav-right  nav-right" "content content content content content" "footer  footer  footer  footer  footer";
  }
}

nav.right {
  margin-bottom: 10px;
}

nav.right ul {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #555555;
}

nav.right ul li:hover {
  background-color: #353535;
}

nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: left;
  align-items: stretch;
  align-content: stretch;
  list-style: none;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
}

nav ul li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: stretch;
}

nav ul li:hover {
  background-color: #111;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: #ffffff;
  text-decoration: initial;
}

header > h1 {
  text-align: center;
}

footer {
  background-color: #382131;
  color: #ffffff;
  padding: 20px 20px;
  margin-top: 2%;
}

footer > em {
  margin-right: 10px;
}

section.content.overview > article,
section.content.overview,
section.content.recipe,
nav.top ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav.right ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.alert > button:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

section.content.overview > article,
section.content.recipe > .ratings article,
section.form form > div {
  border: 0.1px solid #333;
  border-radius: 4px;
  padding: 15px;
}

.printer-icon::before,
.cross::before,
.magnifier::before,
.pencil::before,
.home::before,
.plus-sign::before,
.arrowRight::before {
  font-size: 1.5em;
  font-family: monospace;
  font-style: normal;
  margin: 0 0.3em;
}

.big.printer-icon::before,
.big.cross::before,
.big.magnifier::before,
.big.pencil::before,
.big.home::before,
.big.plus-sign::before,
.big.arrowRight::before {
  font-size: 2em;
}

.arrowRight::before {
  content: "\2192";
}

.plus-sign::before {
  content: "+";
}

.home::before {
  content: "\2302";
}

.pencil::before {
  content: "\270E";
}

.magnifier::before {
  content: "\1F50D";
}

.cross::before {
  content: "\2717";
}

.printer-icon::before {
  content: "\1F5B6";
}

section.form form > div {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  align-items: flex-start;
}

section.form form > div.checkbox {
  justify-content: unset;
  place-self: flex-start;
}

section.form form > div > :first-child {
  margin-right: 20px;
  margin-bottom: 10px;
}

section.form form > div > :nth-child(2) {
  width: 100%;
  box-sizing: border-box;
}

section.form form > div > input[type=checkbox] {
  width: unset;
}

section.form form > div > input[type=submit] {
  width: 100%;
  margin: 0 !important;
}

.toast {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  left: 20px;
  z-index: 99999;
}

.alert {
  padding: 11px 15px;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  text-align: left;
  display: inline-block;
  margin-bottom: 5px;
}

.alert > button {
  background-color: unset;
  padding: 7px 10px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.alert.alert-error {
  background-color: #ff1f1f;
}

.alert.alert-info {
  background-color: #0094e9;
  border-color: #3d3dff;
}

.alert.alert-success {
  background-color: #62ac21;
  border-color: #3d6b14;
}

.alert.alert-warning {
  background-color: #f1e047;
  border-color: #c3b536;
}

.red {
  color: red;
}

.black {
  color: black;
}

.grey {
  color: #dfdde0;
}

.bg-grey {
  background-color: #dfdde0;
}

section.content.recipe > * {
  padding: 15px;
}

section.content.recipe > .manage {
  width: 100%;
  padding: 0;
}

section.content.recipe > .manage ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

section.content.recipe > .manage ul li {
  margin: auto 10px;
}

section.content.recipe > .image {
  order: 1;
}

section.content.recipe > .image img {
  width: auto;
  height: 20vh;
}

section.content.recipe > .info {
  order: 2;
}

section.content.recipe > .ingredients {
  order: 3;
  flex-basis: 100%;
}

section.content.recipe > .instructions {
  order: 4;
  flex-basis: 100%;
}

section.content.recipe > .ratings {
  order: 5;
  flex-basis: 100%;
}

section.content.recipe > .ratings article {
  margin-bottom: 20px;
}

section.content.recipe > .ratings .delete {
  float: right;
  top: 0;
}

section.content.overview {
  margin: 0 10%;
}

@media (max-width: 367px) {
  section.content.overview {
    margin: 0 auto;
  }
}

section.content.overview > article {
  flex-basis: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

section.content.overview > article .image,
section.content.overview > article .info {
  display: inline-block;
}

section.content.overview > article .image {
  height: auto;
  width: 20vh;
  min-width: 100px;
}

section.content.overview > article .image img {
  width: 100%;
}

section.content.overview > article .info {
  flex-grow: 2;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0 20px 10px 0;
}

section.content.overview > article .info > strong {
  display: block;
  margin-bottom: 3px;
}

section.content.overview > article .instructions {
  margin-left: 20px;
}

@media (max-width: 680px) {
  section.content.overview > article .instructions {
    display: none;
  }
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  margin-right: 1px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1483df;
}

a:hover {
  color: #404fd2;
}

section.content {
  margin: 0 auto;
  padding: 0 5%;
}

