section.content.recipe-form {
    span.select2 {
        display: block;
    }
}

section.content.ingredient-form {
    select.w3-third ~ span.select2 {
        display: inline-block;
        width: 30%;
    }

    span.select2 {
        display: block;
    }
}
