form {
    &.delete,
    &.restore {
        display: inline;

        button {
            &.delete,
            &.restore {
                background-color: unset;
                border: none;
                padding: 0;
                cursor: pointer;
                color: #1483df;

                &:hover {
                    color: #404fd2;
                }
            }
        }
    }
}
