.white {
    color: map-get($colors, white);
}

.red {
    color: map-get($colors, red)
}

.black {
    color: map-get($colors, black);
}

.grey {
    color: map-get($colors, grey);
}

.background {
    &.grey {
        background-color: map-get($colors, grey);
    }

    &.green {
        background-color: map-get($colors, green);
    }
}
