footer {
    background-color: #382131;
    color: #ffffff;
    padding: 20px 20px;
    margin-top: 2%;

    > em {
        margin-right: 10px;
    }

    > a {
        color: #79BAF1;

        &:hover {
            color: #A1D1F7;
        }
    }
}
