
select { // TODO: check this code block. Didn't worked in the section.form block...
    max-width: 100%;
}

section.form {
    form {
        max-width: 100%;

        .group.cluster {
            @extend %border;
            width: 70%;
            margin: 10px auto;
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            align-items: flex-start;

            &.checkbox {
                justify-content: unset;
                place-self: flex-start;
            }

            > div {
                width: 100%;
                box-sizing: border-box;
                margin: 10px auto;
            }

            button, .button, input[type=submit] {
                @extend %border;
                padding: 7px 9px;
                cursor: pointer;
                user-select: none;
                display: inline-block;
                margin: 5px auto;
                background-color: map-get($colors, white);
                font-size: smaller;
                color: unset;
            }

            label {
                width: 30%;
                text-align: right;
                display: inline-block;


                @media screen and (max-width: 800px) {
                    width: 100%;
                    text-align: left;
                    display: block;
                }

                ~ textarea,
                ~ select {
                    width: 65%;
                }
            }

            input,
            select,
            textarea,
            .select2-container {
                font-size: 1rem;
                margin-left: 10px;
            }

            input,
            .select2-container {
                width: 60%;
                max-width: 200px;
                height: 33px;
                display: inline-block;

                &[type=text],
                &[type=password] {
                    height: 33px;
                }

                &[type=checkbox] {
                    width: unset;
                }

                &[type=submit] {
                    width: unset;
                    float: right;
                    font-size: smaller;
                }

                &[type=file] {
                    width: auto;
                }
            }

            select {
                resize: vertical;
                overflow: auto;
            }

            textarea {
                max-width: 100%;
                padding: 5px;
            }
        }
    }
}
