section.form {
    form {
        > div {
            @extend %border;
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: left;
            align-items: flex-start;

            > :nth-child(2) {
                width: 100%;
                box-sizing: border-box;
            }

            > :first-child {
                margin-right: 20px;
                margin-bottom: 10px;
            }

            > input[type="submit"] {
                width: 100%;
                margin: 0 !important;
            }
        }
    }
}