.nav.top { grid-area: nav-top; }
header { grid-area: header; }
div.noscript.container { grid-area: noscript; }
section.content { grid-area: content; }
footer { grid-area: footer; }

body {
    display: grid;
    grid-template-areas:
        'nav-top'
        'noscript'
        'header'
        'content'
        'footer';

    grid-column-gap: 0;
    grid-template-columns: 100%;
}
