// Grössen in "em" angeben, damit sich diese an der Schrift anpasst
%icons {
    font-size: 1.5em;
    font-family: monospace;
    font-style: normal;
    margin: 0 0.3em;

    &.big {
        font-size: 2em;
    }
}

.arrow-left::before {
    @extend %icons;
    content: "\2190";
}

.arrow-right::before {
    @extend %icons;
    content: "\2192";
}

.arrow-down::before {
    content: "\2193";
}

.plus-sign::before {
    @extend %icons;
    content: "\2B";
}

.minus-sign::before {
    @extend %icons;
    content: "\2D";
}

.home::before {
    @extend %icons;
    content: "\2302";
}

.pencil::before {
    @extend %icons;
    content: "\270E";
}

.magnifier::before {
    @extend %icons;
    content: "\1F50D";
}

.cross::before {
    @extend %icons;
    content: "\2717";
}

.printer-icon::before {
    @extend %icons;
    content: "\1F5B6";
}

.link::before {
    @extend %icons;
    content: "\1f517";
}

.reload::before {
    @extend %icons;
    content: "\27F3";
}

.required::before {
    @extend %icons;
    content: "\2A";
    color: map-get($colors, red);
}

.question-mark::before {
    @extend %icons;
    content: "?";
    border: 1px solid white;
    border-radius: 100px;
    font-size: 1.1em;
    padding: 0 0.37em;
    background-color: map-get($colors, light-blue);
    color: white;
    font-weight: bold;
}

.hourglass::before {
    @extend %icons;
    content: "\0231B";
}

.bust::before {
    @extend %icons;
    content: "\1F464";
}

.hammer-and-wrench::before {
    @extend %icons;
    content: "\1F6E0";
}

.fork-with-knife-and-plate::before {
    @extend %icons;
    content: "\1F37D";
}

.star-on::before {
    content: url('../images/star-on-big.png');
}

.star-off::before {
    content: url('../images/star-off-big.png');
}
