%icons {
    font-size: 1.5em;
    font-family: monospace;
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.arrowRight::after {
    @extend %icons;
    content: "\002192";
}

.plus-sign::after {
    @extend %icons;
    content: "\2B";
}

.home::after {
    @extend %icons;
    content: "\2302";
}

.pencil::after {
    @extend %icons;
    content: "\270E";
  }