%flexbox-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

%flexbox-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

%weak-shadow {
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}