#nav-checkbox-top:checked ~ ul.container li {
    display: block;
}

.dropdown-button {
    padding-right: 35px;
    padding-left: 35px;
}

// TODO: remove
input[type="submit"] {
    padding: 16px !important;
    width: 100%;
    text-align: left;
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0 !important;
    background-color: unset !important;
    font-size: unset !important;
    color: unset !important;
    border: unset !important;
    border-radius: 0 !important;
}

