// TODO: remove
input[type="submit"] {
    padding: 12px 24px !important;
    width: 100%;
    text-align: left;
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0 !important;
    background-color: unset !important;
    font-size: unset !important;
    color: unset !important;
    border: unset !important;
    border-radius: 0 !important;
}
