.toast {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    left: 20px;
    z-index: 99999;
}

.alert {
    padding: 11px 15px;
    color: map-get($colors, black);
    border-width: 1px;
    border-style: solid;
    border-color: map-get($colors, black);
    border-radius: 7px;
    text-align: left;
    display: inline-block;
    margin-bottom: 5px;

    > button {
        background-color: unset;
        padding: 7px 10px;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
        background-color: map-get($colors, white);
        color: map-get($colors, black);
        border: 1px solid map-get($colors, black);

        &:hover {
            @extend %weak-shadow;
        }
    }

    &.alert-error {
        background-color: map-get($colors, error);
        border-color: map-get($colors, error-light);
    }
    
    &.alert-info {
        background-color: map-get($colors, info);
        border-color: map-get($colors, info-dark);
    }
    
    &.alert-success {
        background-color: map-get($colors, success);
        border-color: map-get($colors, success-dark);
    }

    &.alert-warning {
        background-color: map-get($colors, warning);
        border-color: map-get($colors, warning-dark);
    }
}
