$colors: (
    white: white,

    grey: #dfdde0,

    black: black,
    light-black: #382131,

    light-blue: skyblue,


    red: red,
    red-dark: #9e1515,

    error: #ff1f1f,
    error-dark: #9e1515,

    info: #0094e9,
    info-dark: #3d3dff,

    success: #62ac21,
    success-dark: #3d6b14,

    warning: #f1e047,
    warning-dark: #c3b536,
);
